<div *ngIf="resorts; else spinner">
  <mat-list class="categories" >
    <mat-list-item *ngFor="let category of resorts|getCategories" (click)="setActiveCategory($event.target, category)" >{{category}}</mat-list-item>
  </mat-list>
</div>

<ul class="resorts">
  <li *ngFor="let resort of resorts|categoryFilter:activeCategory" (click)="setSelectedResort(resort)" >
    {{resort.name}}
  </li>
</ul>

<ng-template #spinner>
  <img src="../../assets/spinner.png" alt="loading" class="spinner">
</ng-template>


<!--<div>-->
<!--<img src="{{resort.imageURL}}" alt="{{resort.name}}">-->
<!--</div>-->
