<mat-list class="categories" *ngIf="resorts; else spinner">
  <mat-list-item [ngClass]="{'active' : isActiveCategory(category)}" *ngFor="let category of resorts|getCategories"
                 (click)="setActiveCategory(category)">{{category}}</mat-list-item>
</mat-list>



<ul class="resorts">
  <li  [ngClass]="{'active' : isSelectedResort(resort)}" *ngFor="let resort of resorts|categoryFilter:activeCategory" (click)="setSelectedResort(resort)">
    {{resort.name}}
  </li>
</ul>

<ng-template #spinner>
  <img src="../../assets/spinner.png" alt="loading" class="spinner">
</ng-template>


