/* You can add global styles to this file, and also import other style files */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner{
  animation: spinner .9s linear infinite;
  height: 32px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.active {
  background-color:  rgba(232, 153, 197, 0.62) !important;
}

div, li{
  border-radius:4px;
}

body {
  width: 60%;
  margin: 100px auto;
}

.info>div{
  background-color: rgba(89, 117, 255, 0.6);
  padding: 8px;
  margin: 4px 0;
}
